%h2 Contributors
%ul
  %li
    Dr Nic -
    %a{ :href => 'http://github.com/drnic' } github
    \-
    %a{ :href => 'http://twitter.com/drnic' } @drnic
    \-
    %a{ :href => 'http://drnicwilliams.com' } drnicwilliams.com
  %li
    David P -
    %a{ :href => 'http://github.com/dabit' } dabit
    \-
    %a{ :href => 'http://twitter.com/dabit' } @dabit
    \-
    %a{ :href => 'http://www.crowdint.com' } www.crowdint.com

    